
body{


text-align: center;
}

#ps{
     width: 100px;
     height: 100px;
}

html{
    background-image: url("pc_image.webp");
    background-size:100vw 100vh;
    
}

#back{
    border-style: solid;
    border-width: 5px;
    background: #35d497e1 /* Green background with 30% opacity */
    
}

#title{
    color: #004d3d;
    font-family:Cursive;
   
}

#text{
    color: #004d3d;
    font-family:Cursive;
}