body {
    
    background-image: url('bgCave.jpg');
    color: white;
    font-family: 'Cormorant Garamond', serif;
  }

#headline3 {
  font-family: 'Protest Revolution', sans-serif;
}

#lamp {
  display: flex;
  justify-content: center;
}

#anj {
    background-image: url('aladdinCagedAndJafar.png');
    position: absolute;
    top: 45%;
    left: 15%;

}