body{
    background-image: url("../images/1000_F_441052066_TTWs5hTPpLHSzdf11uL4zrIacrzAub8u.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden; 
}
#hint{
    background-color: cadetblue;
    size:20%;
}
#books{
    margin-left: 70%;
    height:10%;

}
#oldBook{
    position:absolute;
    width:20%;
    height:20%;
    top:50%;
}
#note{
    position:absolute;
    display: none;
    top: 25%;
    size:30%;
    left:40%;
    
}

#leatherBag{
    display:none;
    position:absolute;
    top:60%;
    left: 60%;
    height:35%;
    width:20%;

}
#witch{
    top:0%;
    display: none;
    position:absolute;
    height:100%;
    width:50%;
    left:50%

}
#nextRoom4{
  display: none;
  position:absolute;
    top: 50%;
    size:30%;
    left:45%;
    font-size: 150%;
    background-color:rgb(151, 111, 60);

}

#poisen{
    margin-top: 9%;
    width: 15%;
    height:10%;
    top: 50%;
  
}
button {
    padding: 0.8em 1.8em;
    border: 2px solid #17C3B2;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #17C3B2;
   }
   
   button::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #17C3B2;
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   button:hover::before {
    width: 105%;
   }
   
   button:hover {
    color: #111;
   }

#noteP1{
    position:absolute;
    display: none;
    font-size: 400%;
    top: 40%;
    size:30%;
    left:50%;
}
#tryAgain{
    display:none;
    position:absolute;
    top: 50%;
    size:30%;
    left:45%;
    font-size: 150%;
    color:red;
    background-color: white;
    border: 2px solid red;
}

#crown{
    position:absolute;
    width:15%;
    height:20%;
    left:70%;
    top:70%;
}