@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    background-color: rgb(190, 190, 190);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 150px;
    border: 2px solid;
    border-radius: 10px;
    width: 400px;
    padding: 40px;
    background-color: rgb(240, 240, 240);
}

h1 {
    font-size: 36px;
    margin: 0;
}

.game-board {
    display: inline-block;
    margin: 20px;   
}

.game-section {
    text-align: center;
}

.row {
    display: flex;
}

.cell {
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
}

.winner-text {
    font-size: 24px;
    margin: 20px 0;
}

#restartButton {
    font-size: 18px;
    padding: 10px 20px;
    background-color: rgb(90, 90, 90);
    color: rgb(240, 240, 240);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
}

.vs-button button {
    font-size: 18px;
    padding: 15px;
    border-radius: 10px;
    margin: 20px 20px 0 20px;
    cursor: pointer;
}

.vs-button button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(90, 90, 90);
    border: none;
}