#StoneWall{
	width: 100%;
	height: 705px;
}

#arrow{
	position: absolute;
	top: 65vh;
	left: 77vw;
	width: 110px;
	cursor: pointer;
}

#arrow2{
	position: absolute;
	top: 55vh;
	left: 67vw;
	width: 110px;
	cursor: pointer;
}

#arrow3{
	position: absolute;
	top: 45vh;
	left: 60vw;
	width: 110px;
	cursor: pointer;
}

#arrow4{
	position: absolute;
top: 35vh;
left: 55vw;
width: 110px;
cursor: pointer;
}

#arrow5{
	position: absolute;
top: 20vh;
left: 50vw;
width: 110px;
cursor: pointer;
}

#arrow6{
	position: absolute;
top: 3vh;
left: 55vw;
width: 110px;
cursor: pointer;
}