body {
    background-image: url("castle_stairs.jpg");
    background-size: 100vw 100vh;
}

#belle {
    width: 9%;
    bottom: 0%;
    /* top: 61%; */
    right: 25%;
    position: absolute;
}

#bananapeel {
    width: 4%;
    bottom: 10%;
    right: 50%;
    position: absolute;
}

#box {
    width: 3%;
    bottom: 18%;
    right: 65%;
    position: absolute;
}

#icecream {
    width: 6%;
    bottom: 18%;
    right: 35%;
    position: absolute;
}

#water {
    width: 3%;
    bottom: 17%;
    right: 50%;
    position: absolute;
}